html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: #fff;
  color: #333;
}

.main {
  max-width: 500px;
  width: 98%;
  margin: 50px auto;
}

.button {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: #fff;
  padding: 5px 10px;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s ease;
}

.button:hover {
  background-color: #333;
  color: #fff
}

.form-control {
  padding: 5px;
  font-size: 15px;
  border: 1px solid #333;
  outline: none;
  border-radius: 2px;
}
